{% extends "base.html" %}

{% block title %}
<title>Infinity Comics - Welcome</title>
{% endblock title %}

{% block content %}
{% block navbar%}
{% endblock navbar %}
<div class="content-box">
<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to Infinity Comics</h1>
    <p class="lead mt-4">
        Dive into the world of Marvel Comics! Log in or create an account to explore your favorite comics, discover new recommendations, and enjoy personalized content.
    </p>
    <hr class="my-4">
    <div class="d-flex justify-content-center gap-4 mt-4">
        <!-- Register Button -->
        <a href="/register/" class="btn btn-lg btn-outline-primary px-4 py-3">
            <i class="bi bi-person-plus"></i> Register
        </a>
        <!-- Login Button -->
        <a href="/login/" class="btn btn-lg btn-primary px-4 py-3">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </div>
</div>
</div>
{% endblock content %}